body {
    background-color: #181818;
    font-family: Arial, Helvetica, sans-serif;
}

/* Esto es el cambio de la seleccion*/
::selection {
    background-color: white; 
    color: #19d897;
}

.Logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.sticky {
    position: sticky;
    top: 0;
}

.menu {
    flex-wrap: nowrap;
	padding: 0;
	background: #19d897;
	width: 100%;
	max-width: 70%;
	margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    border: 3px solid white;
    display: flex;
	justify-content: space-around;
    text-align: center;
    transition: width 2s linear 1s;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #71F1D6;

}

.div2



